.skill-tree {
        /* image 6 */

    position: absolute;
    height: 2500px;
    margin: 0 13vw;
    width: 90vw;
    background: url("../../images/attr_dark-grunge-texture 1.png")  no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1800px 1000px;

}